body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #f5eee6;

}
hr {
    width: 4%;
    border-color: #1f4e5f;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px 0 0;
    margin: 100px auto;
}

.s{
  text-decoration: none;
  color:#41514E;
}

h1{
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
}

h2{
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}


h3{
  font-family: 'Montserrat', sans-serif;
  color: #155263;
  font-weight: bolder;
}

.topc{
  background-color:  #155263;
  color: #f5eee6;
  padding-top: 100px;
  position: relative;
}

.midc{
  margin: 100px;
}

.midc p{
  position: relative;
  color: #41514E;
}

.botc{
  background-color:#307675;
  padding:50px;
  margin-top:50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row{
  line-height: 2;
}
.pngwave1{
  width:20%;
  float: left;
  margin-right:30px;
}

.pngwave2{
  width: 20%;
  float: left;
  margin-right:15px;
}

.web{
  width: 32%;
  float: right;
  margin-left: 10px;
  margin-top: 20px;
}

.c1{
  position: absolute;
  right: 300px;
  top:100px;
}

.profile p{
  width: 400px;
  position: relative;
  left:410px;

}

.c2{

  position: absolute;
  left:350px;
  bottom: 350px;
}

.c3{
  position: absolute;
  right:400px;
  top:400px;
}

.pc{
  position: relative;
  left:30px;
}

.jet{
  background-color: #155263;
  text-align: center;
  position: absolute;
  border: solid 5px;
  top: 100px;
  right:600px;
  width: 300px;
  height: 500px;
}

.dis{
  position: relative;
  background-color: #155263;
  padding:400px;;
}

.footer-link{
  color:#f5eee6;
  text-decoration: none;
  padding: 10px
}
.button {
  background-color: #155263;
  border: none;
  color: white;
  padding: 15px 32px;
  font-family: Open Sans;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  text-shadow: 1px 1px 20px #000000;
  font-size: 16px;
}

.button:hover{
  background-color: #166F87;
}
